<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Add/Update Lead</title>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<section class="hero is-small">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Lead Manager</h1>
				<h2 class="subtitle">
					<a
						th:href="@{/}"
						class="is-size-4">Home</a>
				</h2>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="column is-three-fifths is-offset-one-fifth">

			<form
				class="form-horizontal"
				th:object="${newLead}"
				method="POST"
				th:action="@{/update/{id}(id=${newLead.id})}">

				<fieldset>
					<div class="field">
						<label
							class="label"
							for="lead-name">Name</label>
						<div class="control">
							<input
								id="lead-name"
								name="lead-name"
								required
								th:field="*{info.leadName}"
								class="input ">
						</div>
					</div>

					<div class="field">
						<label
							class="label"
							for="lead-phone-number">Phone Number</label>
						<div class="control">
							<input
								id="lead-phone-number"
								name="lead-phone-number"
								th:field="*{info.phoneNumber}"
								type="text"
								class="input ">
						</div>
					</div>

					<div class="field">
						<label
							class="label"
							for="lead-email">Email</label>
						<div class="control">
							<input
								th:field="*{info.leadEmail}"
								id="lead-email"
								name="lead-email"
								type="email"
								class="input ">

						</div>
					</div>

					<div class="field">
						<label
							class="label"
							for="lead-notes">Notes</label>
						<div class="control">
							<textarea
								th:field="*{info.leadNotes}"
								class="textarea"
								id="lead-notes"
								name="lead-notes"></textarea>
						</div>
					</div>

					<div class="field">
						<label
							class="label"
							for="submit"></label>
						<div class="control">
							<button
								id="submit"
								name="submit"
								class="button is-default">Submit</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</section>
</body>
</html>