<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>Add Touch</title>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
<script
	defer
	src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<section class="hero is-small">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">Lead Manager</h1>
				<h2 class="subtitle">
					<a
						th:href="@{/leads/{id}(id=${touch.salesLead.id})}"
						class="is-size-4">Back To Lead</a>
				</h2>
			</div>
		</div>
	</section>
	<div
		class="column is-three-fifths is-offset-one-fifth has-text-centered">
		<span
			class="is-size-2"
			th:text="${touch.salesLead.info.leadName}" /> <span class="small">
			<a th:href="@{/leads/{id}/edit(id=${touch.salesLead.id})}">edit</a>
		</span>
		<div class="box">
			<div class="row"></div>
			<div class="row">
				<strong>phone:</strong> <span
					th:text="${touch.salesLead.info.phoneNumber}" /> • <strong>email:</strong>
				<span th:text="${touch.salesLead.info.leadEmail}" />
			</div>
			<div class="row">
				<strong>Notes:</strong> <span
					th:text="${touch.salesLead.info.leadNotes}" /> <span><small>
			</div>
		</div>

		<form
			class="form-horizontal"
			method="POST"
			th:object="${touch}"
			th:action="@{/leads/{id}/touch(id=${touch.salesLead.id})}">
			<fieldset>
				<div class="field">
					<label
						class="label"
						for="lead-name">Contact Notes</label>
					<div class="control">
						<input
							id="lead-name"
							name="lead-name"
							th:field="*{notes}"
							size="2500"
							class="input ">
					</div>
				</div>
				<div class="field">
					<label
						class="label"
						for="submit"></label>
					<div class="control">
						<button
							id="submit"
							name="submit"
							class="button is-default">Submit</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>
</body>
</html>